@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 
.planet-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.planet-image {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.planet-container,
h1,
p,
h4,
ul.travel-methods,
ul.points-of-interest,
.container {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #fff; /* Updated color to white */
    margin-top: 20px;
}

p {
    color: #fff; /* Updated color to white */
    font-size: 20px;
}

h4 {
    margin-top: 20px;
    color: #fff; /* Updated color to white */
}

ul.travel-methods,
ul.points-of-interest {
    list-style-type: disc;
    padding-left: 20px;
    color: #fff; /* Updated color to white */
}

.poi-image {
    display: block;
    max-width: 70%; /* Adjust the percentage as needed */
    margin: 10px auto;
    border-radius: 5px;
}

.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    color: #fff; /* Updated color to white */
}

iframe {
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    color: #fff; /* Updated color to white */
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

h4 {
    color: #fff; /* Updated color to white */
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

li img {
    max-width: 30%;
    border-radius: 10px;
    margin-top: 10px;
}
.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 30px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: lightblue;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-top: 10px;
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: url('https://media1.giphy.com/media/3og0IyRiAsl1Pczi6Y/giphy.gif?cid=ecf05e47qtu26it5twxov4smcmbeottickn7yjgsn067fqhr&ep=v1_gifs_search&rid=giphy.gif&ct=g');
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    color: #ffffff;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  
  
